<div id="<%= dom_id article %>" class="card mb-4">
  <div class="card-body">
    <h2 class="card-title">
      <%= article.title %>
    </h2>

    <div class="card-text mb-3">
      <%= simple_format(article.content) %>
    </div>

    <p class="card-text">
      <small class="text-muted">
        Écrit par <%= article.author %><br>
        <%= l(article.created_at, format: :long) %>
      </small>
    </p>
  </div>
</div>
