<%= form_with(model: article, class: "mb-4") do |form| %>
  <% if article.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(article.errors.count, "erreur") %> ont empêché cet article d'être sauvegardé :</h4>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, "Titre", class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :content, "Contenu", class: "form-label" %>
    <%= form.text_area :content, class: "form-control", rows: 5 %>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to "Retour", articles_path, class: "btn btn-secondary me-md-2" %>
    <%= form.submit "Enregistrer", class: "btn btn-primary" %>
  </div>
<% end %>
